src/flows/Disburse_Participant_Benefits_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets ParticipantId as the account recordId.</description>
        <name>SetAccountAsParticipantID</name>
        <label>Set Account as Participant ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ParticipantId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccountRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the isNotPersonAccount variable to true.</description>
        <name>SetNotPersonAccount</name>
        <label>Set Not Person Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isNotPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenCollectBenefitDisbursementDetails</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dataSpace>default</dataSpace>
    <decisions>
        <description>Determines whether the CreateParticipantBenefits flow ran and created records by checking if the CreateParticipantBenefits flow didn’t return a fault message and if the benefitDisbursementId contains a value.</description>
        <name>HaveParticipantBenefits</name>
        <label>Have Participant Benefits?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayErrorCreateParticipantBenefit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasParticipantBenefits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateParticipantBenefits.benefitDisbursementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreateParticipantBenefits.benefitDisbursementId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDisplayConfirmationBenefitDisbursement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the account record is a person account by checking if the IsPersonAccount field is true.</description>
        <name>HavePersonAccount</name>
        <label>Have Person Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayInvalidAccountError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsPersonAccount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isPersonAccountSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isPersonAccountSelected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActiveBenefits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the contact was selected from SelectParticipantsDataTable.</description>
        <name>HaveSelectedParticipant</name>
        <label>Have Selected Participant?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateParticipantBenefits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasSelectedParticipant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectParticipantsDataTable.firstSelectedRow.Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectParticipantsDataTable.firstSelectedRow.Account.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the isPersonAccountSelected is set to true.</description>
        <name>HaveSelectedPersonAccount</name>
        <label>Have Selected Person Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetNotPersonAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasSelectedPersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isPersonAccountSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateParticipantBenefits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the CreateAnotherBenefitDisbursementCheckbox on the ScreenDisplayConfirmationBenefitDisbursement screen is set to true.</description>
        <name>IsCreateAnotherBenefitDisbursementSelected</name>
        <label>Is Create Another Benefit Disbursement Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ShouldCreateBenefitDisbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateAnotherBenefitDisbursementCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ScreenCollectBenefitDisbursementDetails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the record ID corresponds to an account, contact or case by checking if the recordId starts with &apos;001&apos; (account) or &apos;003&apos; (contact) or &apos;500&apos; (case). Updates the participantId variable to the associated account ID if it&apos;s an account, contact or case.</description>
        <name>SetParticipantId</name>
        <label>Set Participant ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAccountAsParticipantID</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>IsContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountFromContact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>IsCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountFromCase</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Stores the collection choice set used in the BenefitAssignmentLookup screen component on the ScreenCollectBenefitDisbursementDetails screen. The benefits shown in the component are active and sorted descending by StartDateTime. The choice label is set to Name and the choice value is set to ID.</description>
        <name>ChoiceActiveBenefits</name>
        <collectionReference>GetActiveBenefits</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Benefit</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Calculates whether the search term value is at least two characters long. The formula returns True if the searchTerm value is at least two characters long. Otherwise, the formula returns False. This formula is used as a condition to run the Find Contacts From Search action when the searchTerm value changes.</description>
        <name>SearchTermLengthFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!ParticipantSearchText})&gt;=2, true, false)</expression>
    </formulas>
    <interviewLabel>Disburse Participant Benefits Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Disburse Participant Benefits Test</label>
    <!--<overriddenFlow>PgmMgmt__DisburseParticipantBenefits</overriddenFlow>-->
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the Account record associated with the selected contact from SelectParticipantsDataTable.</description>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveSelectedPersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectParticipantsDataTable.firstSelectedRow.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ParticipantId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isPersonAccountSelected</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the case record that matches the value of the recordId. The account ID on the case record is stored in the ParticipantId variable.</description>
        <name>GetAccountFromCase</name>
        <label>Get Account from Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayErrorGetAccountFromCase</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>ParticipantId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the contact record that matches the value of the recordId. The account ID on the contact record is stored in the ParticipantId variable.</description>
        <name>GetAccountFromContact</name>
        <label>Get Account from Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayErrorGetAccountFromContact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ParticipantId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the account record with an ID that matches the ParticipantId. Stores the isPersonAccount of the account record in the isPersonAccountSelected variable.</description>
        <name>GetAccountRecord</name>
        <label>Get Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HavePersonAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayGetRecordsError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParticipantId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>isPersonAccountSelected</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the benefits records that are marked as active. Stores these records in the Benefits from Get Active Benefits.</description>
        <name>GetActiveBenefits</name>
        <label>Get Active Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenCollectBenefitDisbursementDetails</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayErrorGetActiveBenefits</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Allows the flow user to specify a participant, benefit, disbursement date, and disbursement quantity for the benefit to be disbursed. Clicking Save launches a flow to create a benefit disbursement record with the specified values along with any missing program enrollments and benefits.</description>
        <name>ScreenCollectBenefitDisbursementDetails</name>
        <label>Collect Benefit Disbursement Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actions>
            <name>FindContactsFromSearch</name>
            <actionName>PgmMgmt__FindContactsFromSearch</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>searchTerm</name>
                <value>
                    <elementReference>ParticipantSearchText</elementReference>
                </value>
            </inputParameters>
            <label>Find Contacts From Search</label>
            <nameSegment>PgmMgmt__FindContactsFromSearch</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>HaveSelectedParticipant</targetReference>
        </connector>
        <fields>
            <name>ParticipantLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Participant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ParticipantId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ParticipantId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ScreenCollectBenefitDisbursementDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenCollectBenefitDisbursementDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NotPersonAccountDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 0, 0);&quot;&gt;The selected participant isn&apos;t related to a person account record. Select a different participant.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isNotPersonAccount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SearchParticipantsDisplayText</name>
                    <fieldText>&lt;p&gt;Find by name the participant to receive the benefit disbursement.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ParticipantSearchText</name>
                    <dataType>String</dataType>
                    <fieldText>Search Participants</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SelectParticipantsDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Participants</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>FindContactsFromSearch.Results.matchingContacts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-682f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-c86b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;HomePhone&quot;,&quot;guid&quot;:&quot;column-77e8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Home Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-55f1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;MailingCity&quot;,&quot;guid&quot;:&quot;column-6773&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Mailing City&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MailingState&quot;,&quot;guid&quot;:&quot;column-5848&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Mailing State/Province&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-c69a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ParticipantId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BenefitLookup</name>
            <choiceReferences>ChoiceActiveBenefits</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Benefit</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenCollectBenefitDisbursementDetails_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenCollectBenefitDisbursementDetails_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisbursementDate</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Disbursement Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenCollectBenefitDisbursementDetails_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisbursementQuantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Disbursement Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>ScreenCollectBenefitDisbursementDetails</eventSource>
            <handlers>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SearchTermLengthFormula</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <screenActionName>FindContactsFromSearch</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>ParticipantSearchText</eventSource>
            <handlers>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SearchTermLengthFormula</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <screenActionName>FindContactsFromSearch</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <description>Displays a confirmation to the flow user that includes the benefit disbursement ID that was created and lets the flow user create another benefit disbursement without exiting the flow.</description>
        <name>ScreenDisplayConfirmationBenefitDisbursement</name>
        <label>Display Benefit Disbursement Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsCreateAnotherBenefitDisbursementSelected</targetReference>
        </connector>
        <fields>
            <name>ConfirmationDisplayText</name>
            <fieldText>&lt;p&gt;This benefit disbursement was created: {!CreateParticipantBenefits.benefitDisbursementId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ScreenDisplayConfirmationBenefitDisbursement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenDisplayConfirmationBenefitDisbursement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenDisplayConfirmationBenefitDisbursement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateAnotherBenefitDisbursementCheckbox</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create another benefit disbursement</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error message to the flow user when there&apos;s an error running the CreateParticipantBenefits flow.</description>
        <name>ScreenDisplayErrorCreateParticipantBenefit</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorCreateParticipantBenefitsDisplayText</name>
            <fieldText>&lt;p&gt;Something went wrong and we couldn&apos;t create a benefit disbursement record. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error message to the flow user when there’s an error getting the account ID from the case record.</description>
        <name>ScreenDisplayErrorGetAccountFromCase</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorGetAccountFromCaseDisplayText</name>
            <fieldText>&lt;p&gt;Something went wrong and we couldn&apos;t get the account ID from the case record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error message to the flow user when there’s an error getting the account ID from the contact record.</description>
        <name>ScreenDisplayErrorGetAccountFromContact</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorGetAccountFromContactDisplayText</name>
            <fieldText>&lt;p&gt;Something went wrong and we couldn&apos;t get the account ID from the contact record.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when there’s an error getting the active benefit records.</description>
        <name>ScreenDisplayErrorGetActiveBenefits</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorGetActiveBenefitsDisplayText</name>
            <fieldText>&lt;p&gt;Something went wrong and we couldn&apos;t get the active benefit records.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when a Get Records element returns an error.</description>
        <name>ScreenDisplayGetRecordsError</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessageDisplayText</name>
            <fieldText>&lt;p&gt;Something went wrong and we couldn&apos;t retrieve the record. {!$Flow.FaultMessage} &lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Arial Narrow&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when the current record isn&apos;t a person account.</description>
        <name>ScreenDisplayInvalidAccountError</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvalidAccountErrorDisplayText</name>
            <fieldText>&lt;p&gt;Something went wrong because the current record isn&apos;t a person account. {!$Flow.FaultMessage}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetParticipantId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls a flow that generates a benefit disbursement record and creates any missing related records required for program enrollment and benefit assignment. Sets the benefit, disbursement quantity, and participant to the values selected in the ScreenCollectBenefitDisbursementDetails screen. Stores the resulting collection in the Outputs from CreateParticipantBenefits record collection.</description>
        <name>CreateParticipantBenefits</name>
        <label>Create Participant Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveParticipantBenefits</targetReference>
        </connector>
        <flowName>PgmMgmt__CreateParticipantBenefits</flowName>
        <inputAssignments>
            <name>benefitId</name>
            <value>
                <elementReference>BenefitLookup.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disbursementDate</name>
            <value>
                <elementReference>DisbursementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>disbursementQuantity</name>
            <value>
                <elementReference>DisbursementQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>participantId</name>
            <value>
                <elementReference>ParticipantId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Stores a boolean value that indicates whether the contact that was selected in SelectParticipantsDataTble is related to a person account. The default value is false.</description>
        <name>isNotPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores a boolean variable that indicates whether the account that&apos;s related with the originating record is a person account record. The default value is false.</description>
        <name>isPersonAccountSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the account ID for the participant of a benefit disbursement.</description>
        <name>ParticipantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID for the account passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
